# APPLE STOCK PRICES ANALYSIS USING SQL AND PYTHON

Here we are going to explore and manipulate the Apple stock dataset. The data was sourced from Google finance in January of 2014.There is one row for each day as indicated in the date field.
- **open and close**  : Opening and closing prices of stock on the particular day.
- **high and low**    : High and low prices on that day.
- **volume**          : Number of shares traded on that day

## Setting up Jupyter notebook display

In [1]:
# Import pandas a python library
import pandas as pd

# Display more rows
pd.set_option('display.max_rows', 15000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

# Increase display size
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

## Getting Started: Load ipython-sql and import Create_engine

In [2]:
# Load ipython-sql, using the following magic command:
%load_ext sql

In [3]:
# Next, we will only need the create_engine() function from sqlalchemy so let’s import that with the following line:
from sqlalchemy import create_engine

## Connecting to a PostgreSQL the database
Once we’ve laid the groundwork, we can now connect to a PostgreSQL database!
The PostgreSQL database contains housing report data projects data in the portfolio database.

In [4]:
# Use the following format to connect ipython-sql to the portfolio database.
%sql postgresql://postgres:1372Sql$@localhost/portfolio

In [5]:
# To connect sqlalchemy to the database
engine = create_engine('postgresql://postgres:1372Sql$@localhost/portfolio')

## An exploration of the live table storing all of the data for Apple Stock Prices

In [6]:
%%sql
SELECT * FROM apple_stock_prices
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[('1/30/14', 2014.0, 1.0, 502.54, '506.5', 496.7, 499.78, 24182996.0, 1),
 ('1/29/14', 2014.0, 1.0, 503.95, '507.37', 498.62, 500.75, 17991828.0, 2),
 ('1/28/14', 2014.0, 1.0, 508.76, '515.0', 502.07, 506.5, 38119084.0, 3),
 ('1/27/14', 2014.0, 1.0, 550.07, '554.8', 545.75, 550.5, 20602736.0, 4),
 ('1/24/14', 2014.0, 1.0, 554.0, '555.62', 544.75, 546.07, 15483491.0, 5),
 ('1/23/14', 2014.0, 1.0, 549.94, '556.5', 544.81, 556.18, 14425478.0, 6),
 ('1/22/14', 2014.0, 1.0, 550.91, '557.29', 547.81, 551.51, 13602762.0, 7),
 ('1/21/14', 2014.0, 1.0, 540.99, '550.07', 540.42, 549.07, 11750792.0, 8),
 ('1/17/14', 2014.0, 1.0, 551.48, '552.07', 539.9, 540.67, 15489527.0, 9),
 ('1/16/14', 2014.0, 1.0, 554.9, '556.85', 551.68, 554.25, 8210190.0, 10)]

## Basic Data Exploration

### A count of all rows

In [7]:
%%sql
SELECT COUNT(*) FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(3555,)]

### Counting Individual Columns

In [8]:
%%sql
SELECT COUNT(high) FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(3531,)]

### Non null rows in the 'low' column

In [9]:
%%sql
SELECT COUNT(low) AS low FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(3535,)]

### A count of non numerical columns

In [11]:
%%sql
SELECT COUNT(date) date_range FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(3555,)]

In [14]:
%%sql
SELECT COUNT(*) AS columns_date_range FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(3555,)]

### A Count for every single column

In [18]:
%%sql
SELECT COUNT('date', 'volume') FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
(psycopg2.errors.UndefinedFunction) function count(unknown, unknown) does not exist
LINE 1: SELECT COUNT('date', 'volume') FROM apple_stock_prices
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT COUNT('date', 'volume') FROM apple_stock_prices]
(Background on this error at: http://sqlalche.me/e/13/f405)