In [13]:
# Import pandas a python library
import pandas as pd

# Display more rows
pd.set_option('display.max_rows', 15000)
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)

# Increase display size
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

In [14]:
# Load ipython-sql, using the following magic command:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [15]:
# Next, we will only need the create_engine() function from sqlalchemy so letâ€™s import that with the following line:
from sqlalchemy import create_engine

In [16]:
# Use the following format to connect ipython-sql to a local database named portfolio.
%sql postgresql://postgres:1372Sql$@localhost/portfolio

In [17]:
# To connect sqlalchemy to the database
engine = create_engine('postgresql://postgres:1372Sql$@localhost/portfolio')

In [18]:
%%sql
SELECT * FROM apple_stock_prices
LIMIT 10

 * postgresql://postgres:***@localhost/portfolio
10 rows affected.

[('1/30/14', 2014.0, 1.0, 502.54, '506.5', 496.7, 499.78, 24182996.0, 1),
 ('1/29/14', 2014.0, 1.0, 503.95, '507.37', 498.62, 500.75, 17991828.0, 2),
 ('1/28/14', 2014.0, 1.0, 508.76, '515.0', 502.07, 506.5, 38119084.0, 3),
 ('1/27/14', 2014.0, 1.0, 550.07, '554.8', 545.75, 550.5, 20602736.0, 4),
 ('1/24/14', 2014.0, 1.0, 554.0, '555.62', 544.75, 546.07, 15483491.0, 5),
 ('1/23/14', 2014.0, 1.0, 549.94, '556.5', 544.81, 556.18, 14425478.0, 6),
 ('1/22/14', 2014.0, 1.0, 550.91, '557.29', 547.81, 551.51, 13602762.0, 7),
 ('1/21/14', 2014.0, 1.0, 540.99, '550.07', 540.42, 549.07, 11750792.0, 8),
 ('1/17/14', 2014.0, 1.0, 551.48, '552.07', 539.9, 540.67, 15489527.0, 9),
 ('1/16/14', 2014.0, 1.0, 554.9, '556.85', 551.68, 554.25, 8210190.0, 10)]

In [19]:
%%sql
SELECT * FROM apple_stock_prices
WHERE month = 1.0
LIMIT 20

 * postgresql://postgres:***@localhost/portfolio
20 rows affected.

[('1/30/14', 2014.0, 1.0, 502.54, '506.5', 496.7, 499.78, 24182996.0, 1),
 ('1/29/14', 2014.0, 1.0, 503.95, '507.37', 498.62, 500.75, 17991828.0, 2),
 ('1/28/14', 2014.0, 1.0, 508.76, '515.0', 502.07, 506.5, 38119084.0, 3),
 ('1/27/14', 2014.0, 1.0, 550.07, '554.8', 545.75, 550.5, 20602736.0, 4),
 ('1/24/14', 2014.0, 1.0, 554.0, '555.62', 544.75, 546.07, 15483491.0, 5),
 ('1/23/14', 2014.0, 1.0, 549.94, '556.5', 544.81, 556.18, 14425478.0, 6),
 ('1/22/14', 2014.0, 1.0, 550.91, '557.29', 547.81, 551.51, 13602762.0, 7),
 ('1/21/14', 2014.0, 1.0, 540.99, '550.07', 540.42, 549.07, 11750792.0, 8),
 ('1/17/14', 2014.0, 1.0, 551.48, '552.07', 539.9, 540.67, 15489527.0, 9),
 ('1/16/14', 2014.0, 1.0, 554.9, '556.85', 551.68, 554.25, 8210190.0, 10),
 ('1/15/14', 2014.0, 1.0, 553.52, '560.2', 551.66, 557.36, 14067517.0, 11),
 ('1/14/14', 2014.0, 1.0, 538.22, '546.73', 537.66, 546.39, 11962053.0, 12),
 ('1/13/14', 2014.0, 1.0, 529.91, '542.5', 529.88, 535.73, 13551549.0, 13),
 ('1/10/14', 2014.0, 1.0, 539.83, '540.8', 531.11, 532.94, 10902952.0, 14),
 ('1/9/14', 2014.0, 1.0, 546.8, '546.86', 535.35, 536.52, 9986457.0, 15),
 ('1/8/14', 2014.0, 1.0, 538.81, '545.56', 538.69, 543.46, 9240955.0, 16),
 ('1/7/14', 2014.0, 1.0, 544.32, None, 537.92, 540.04, 11347538.0, 17),
 ('1/6/14', 2014.0, 1.0, 537.45, '546.8', 533.6, 543.93, 14765593.0, 18),
 ('1/3/14', 2014.0, 1.0, 552.86, '553.7', 540.43, 540.98, 14043410.0, 19),
 ('1/2/14', 2014.0, 1.0, 555.68, '557.03', 552.02, 553.13, 8398851.0, 20)]

In [20]:
%%sql
SELECT COUNT(*) FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(3555,)]

In [21]:
%%sql
SELECT * FROM apple_stock_prices
WHERE year = 2014 and month = 2.0

 * postgresql://postgres:***@localhost/portfolio
0 rows affected.

[]

In [23]:
%%sql
SELECT SUM(open) AS sum_of_open, COUNT(open) AS count_of_open, (SUM(open)/COUNT(open)) AS average_opening_price FROM apple_stock_prices

 * postgresql://postgres:***@localhost/portfolio
1 rows affected.

[(583484.0, 3541, 164.77944083592206)]

In [25]:
%%sql
SELECT month, COUNT(*) AS share_count FROM apple_stock_prices
GROUP BY month

 * postgresql://postgres:***@localhost/portfolio
12 rows affected.

[(3.0, 306),
 (4.0, 291),
 (1.0, 307),
 (9.0, 281),
 (6.0, 298),
 (7.0, 297),
 (8.0, 312),
 (2.0, 270),
 (5.0, 299),
 (10.0, 309),
 (11.0, 289),
 (12.0, 296)]