# RUNNING BASIC SQL QUERIES FROM A JUPYTER NOTEBOOK (With Examples)

Here we are going to explore and manipulate the Apple stock dataset. The data was sourced from Google finance in January of 2014.There is one row for each day as indicated in the date field.
- **open and close**  : Opening and closing prices of stock on the particular day.
- **high and low**    : High and low prices on that day.
- **volume**          : Number of shares traded on that day